<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form method="post" th:object="${patient}" th:action="@{/social/sent}">
    <h3>Patient Name</h3>
    <input type="text" th:field="*{name}"/>
    <h3>Pick Up Location</h3>
    <input type="text" th:field="*{pickup}"/>
    <h3>Room Number</h3>
    <input type="text" th:field="*{room}"/>
    <h3>Destination</h3>
    <input type="text" th:field="*{destination}"/>
    <h3>Pick Up Time and Date</h3>
    <input type="text" th:field="*{time}"/>
    <input type="hidden" name="socialworkerId"
    <input type="submit" value="Request Transfer"/>
</form>

</body>
</html>